# =========================
# Circular Networks
# =========================

MAINNET_NETWORK_NAG=
TESTNET_NETWORK_NAG=
DEVNET_NETWORK_NAG=

# ===========================
# CHAINS 
# ===========================

MAIN_PUBLIC_CHAIN="0x714d2ac07a826b66ac56752eebd7c77b58d2ee842e523d913fd0ef06e6bdfcae"
SECONDARY_PUBLIC_CHAIN="0xacb8a9b79f3c663aa01be852cd42725f9e0e497fd849b436df51c5e074ebeb28"
DOCUMENT_PUBLIC_CHAIN="0xe087257c48a949710b48bc725b8d90066871fa08f7bbe75d6b140d50119c481f"
SANDBOX_CHAIN="0x8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2"

# ===========================
# TESTNET (5kb FUNDED) ACCOUNT CREDENTIALS
# ===========================

# MAIN PUBLIC
TESTNET_CIRCULAR_MAIN_PUBLIC_CHAIN_ADDRESS=$MAIN_PUBLIC_CHAIN
TESTNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
TESTNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
TESTNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# SECONDARY PUBLIC
TESTNET_CIRCULAR_SECONDARY_PUBLIC_CHAIN_ADDRESS=$SECONDARY_PUBLIC_CHAIN
TESTNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
TESTNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
TESTNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# DOCUMENT PUBLIC 
TESTNET_CIRCULAR_DOCUMENT_PUBLIC_CHAIN_ADDRESS=$DOCUMENT_PUBLIC_CHAIN
TESTNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
TESTNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
TESTNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# SANDBOX
TESTNET_CIRCULAR_SANDBOX_CHAIN_ADDRESS=$SANDBOX_CHAIN
TESTNET_CIRCULAR_SANDBOX_ACCOUNT_PUBKEY=<get via circular connect>
TESTNET_CIRCULAR_SANDBOX_ACCOUNT_PVTKEY=<get via circular connect>
TESTNET_CIRCULAR_SANDBOX_ACCOUNT_SEED=<get via circular connect>


# ===========================
# DEVNET (5kb FUNDED) ACCOUNT CREDENTIALS
# ===========================

# MAIN PUBLIC 
DEVNET_CIRCULAR_MAIN_PUBLIC_CHAIN_ADDRESS=$MAIN_PUBLIC_CHAIN
DEVNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
DEVNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
DEVNET_CIRCULAR_MAIN_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# SECONDARY PUBLIC
DEVNET_CIRCULAR_SECONDARY_PUBLIC_CHAIN_ADDRESS=$SECONDARY_PUBLIC_CHAIN
DEVNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
DEVNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
DEVNET_CIRCULAR_SECONDARY_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# DOCUMENT PUBLIC
DEVNET_CIRCULAR_DOCUMENT_PUBLIC_CHAIN_ADDRESS=$DOCUMENT_PUBLIC_CHAIN
DEVNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_PUBKEY=<get via circular connect>
DEVNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_PVTKEY=<get via circular connect>
DEVNET_CIRCULAR_DOCUMENT_PUBLIC_ACCOUNT_SEED=<get via circular connect>

# SANDBOX
DEVNET_CIRCULAR_SANDBOX_CHAIN_ADDRESS=$SANDBOX_CHAIN
DEVNET_CIRCULAR_SANDBOX_ACCOUNT_PUBKEY=<get via circular connect>
DEVNET_CIRCULAR_SANDBOX_ACCOUNT_PVTKEY=<get via circular connect>
DEVNET_CIRCULAR_SANDBOX_ACCOUNT_SEED=<get via circular connect>

