# =========================
# Network NAGs
# =========================
MAINNET_NETWORK_NAG=
TESTNET_NETWORK_NAG=
DEVNET_NETWORK_NAG=

# =========================
# Chain Addresses
# =========================
CHAIN_MAIN_PUBLIC="0x714d2ac07a826b66ac56752eebd7c77b58d2ee842e523d913fd0ef06e6bdfcae"
CHAIN_SECONDARY_PUBLIC="0xacb8a9b79f3c663aa01be852cd42725f9e0e497fd849b436df51c5e074ebeb28"
CHAIN_DOCUMENT_PUBLIC="0xe087257c48a949710b48bc725b8d90066871fa08f7bbe75d6b140d50119c481f"
CHAIN_SANDBOX="0x8a20baa40c45dc5055aeb26197c203e576ef389d9acb171bd62da11dc5ad72b2"

# =========================
# TESTNET Account Credentials
# =========================
TESTNET_MAIN_PUBLIC_PUBKEY=<REPLACE_ME>
TESTNET_MAIN_PUBLIC_PVTKEY=<REPLACE_ME>
TESTNET_MAIN_PUBLIC_SEED=<REPLACE_ME>

TESTNET_SECONDARY_PUBLIC_PUBKEY=<REPLACE_ME>
TESTNET_SECONDARY_PUBLIC_PVTKEY=<REPLACE_ME>
TESTNET_SECONDARY_PUBLIC_SEED=<REPLACE_ME>

TESTNET_DOCUMENT_PUBLIC_PUBKEY=<REPLACE_ME>
TESTNET_DOCUMENT_PUBLIC_PVTKEY=<REPLACE_ME>
TESTNET_DOCUMENT_PUBLIC_SEED=<REPLACE_ME>

TESTNET_SANDBOX_PUBKEY=<REPLACE_ME>
TESTNET_SANDBOX_PVTKEY=<REPLACE_ME>
TESTNET_SANDBOX_SEED=<REPLACE_ME>

# =========================
# DEVNET Account Credentials
# =========================
DEVNET_MAIN_PUBLIC_PUBKEY=<REPLACE_ME>
DEVNET_MAIN_PUBLIC_PVTKEY=<REPLACE_ME>
DEVNET_MAIN_PUBLIC_SEED=<REPLACE_ME>

DEVNET_SECONDARY_PUBLIC_PUBKEY=<REPLACE_ME>
DEVNET_SECONDARY_PUBLIC_PVTKEY=<REPLACE_ME>
DEVNET_SECONDARY_PUBLIC_SEED=<REPLACE_ME>

DEVNET_DOCUMENT_PUBLIC_PUBKEY=<REPLACE_ME>
DEVNET_DOCUMENT_PUBLIC_PVTKEY=<REPLACE_ME>
DEVNET_DOCUMENT_PUBLIC_SEED=<REPLACE_ME>

DEVNET_SANDBOX_PUBKEY=<REPLACE_ME>
DEVNET_SANDBOX_PVTKEY=<REPLACE_ME>
DEVNET_SANDBOX_SEED=<REPLACE_ME>

